div.header_container {
	border: 2px solid #E8F1F2;
	border-radius: 15px;
	background: #13293D;
	margin-top: 5vh;
	margin-bottom: 5vh
}

.header {
	text-align: center;
}

.select-gender {
	border: 2px solid #E8F1F2;
	margin-top: 20vh;
	margin-left: 30vw;
	margin-right: 30vw;
	border-radius: 5px;
}

.select-age {
	border: 2px solid #E8F1F2;
	margin-top: 5vh;
	margin-left: 30vw;
	margin-right: 30vw;
	border-radius: 5px;
}

select:focus::-ms-value {
	background-color: transparent;
}

select {
	-moz-padding-start: calc(10px - 3px);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	width: 100%;
	outline: none;
	height: 50px;
	background: #13293D;
	color: white;
	cursor: pointer;
	font-size: calc(8px + 1.5vw);
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	text-align-last: center;
}

select option {
	color: #fff;
}

.submit_button {
	border: 2px solid #E8F1F2;
	box-shadow: inset 0 0 0 0 #13293D;
	letter-spacing: 3px;
	border-radius: 5px 5px;
	background-color: rgba(220, 160, 140, 0);
	;
	color: #E8F1F2;
	transition: ease-out 0.5s;
	font-size: calc(15px + 1.5vw);
	outline: 0;
}

.submit_button:hover {
	box-shadow: inset 20vw 0 0 0 #13293D;
	cursor: pointer;
	color: #E8F1F2;
}

.wrapper {
	text-align: center;
	margin-top: 5vh;
}