{% extends 'base.html' %}
{% block content %}
<head>
   {% load static %}
   <link rel = "stylesheet" type = "text/css" href = "{% static "css/classification.css" %}"/>
</head>
<body>
   <div class="feedback_background_wrong" id="feedback_background_wrong">
      <div class="points_wrong">
         <p>Incorrect: +0 points</p>
      </div>
   </div>
   <div class="feedback_background_correct" id="feedback_background_correct">
      <div class="points_correct">
         <p>Correct: +100 points</p>
      </div>
   </div>
   <div class="wrapper-loader" id="loader_screen">
      <span class="loader"><span class="loader-inner"></span></span>
   </div>
   <div class = video-margin>
      <div class = "select_wrapper">
         <form method="post" id="playbackspeed">
            {% csrf_token %}
            <select name='playspeed_name' id="playspeed_id" onchange='playback()'>
               <option disabled selected>&nbsp;Playback Speed&nbsp;</option>
               <option value='0.1'>0.1x</option>
               <option value='0.5'>0.5x</option>
               <option value='1.0'>Normal</option>
               <option value='1.5'>1.5x</option>
               <option value='2.0'>2.0x</option>
            </select>
         </form>
         <div class = "button_wrapper">
            <button onclick="togglePlay()" type="button" class="play_button" id="play_button">Play | Pause</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick="replay()" type="button" class="replay_button" id="replay_button">Replay</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick="openFullscreen()" type="button" class="fullscreen" id="fullscreen_button">Fullscreen</button>
         </div>
         <video controlsList="nodownload" playsinline loop width="100%" height="100%" id="video" oncontextmenu="return false;">
            <source src ="https://drive.google.com/uc?export=download&id={{ video.video_link_id }}" type='video/mp4'/>
         </video>
      </div>
      <div class ="container">
         <textarea class = "textarea" id="text_field" name="text_field" maxlength="300"></textarea>
         <div>
            <form class="choose_form">
               <select name='category' id="category">
                  <option disabled selected>&nbsp;▼ Category&nbsp;</option>
                  <option value='1'>manipulated</option>
                  <option value='2'>not-manipulated</option>
               </select>
            </form>
         </div>
         <div>
            <form class = "difficulty_form">
               <select name='difficulty' id="difficulty">
                  <option disabled selected>&nbsp;▼ Difficulty&nbsp;</option>
                  <option value='1'>Easy</option>
                  <option value='2'>Medium</option>
                  <option value='3'>Hard</option>
               </select>
            </form>
         </div>
      </div>
      <div class = "submit_wrapper">
         <button onclick= "check_values();"  class="submit_button" id="submit_button">Submit</button>
      </div>
      <div class="display" id="display">75%</div>
      <div class="progress_container">
         <div class="progress_bar" id="progress_bar" style="width:75%"></div>
      </div>
   </div>
   <form id="submit_form" method = "post">{% csrf_token %}
      <input type='hidden' name= 'play_count' id="play_count" value='' />
      <input type='hidden' name= 'fullscreen_count' id="fullscreen_count" value='' />
      <input type='hidden' id= 'replay_count' name="replay_count" value='' />
      <input type='hidden' id= 'playback_count' name="playback_count" value='' />
      <input type='hidden' id= 'duration' name="duration" value='' />
      <input type="hidden" id="difficulty_submit" name="difficulty" value="">
      <input type="hidden" id="category_submit" name="category" value="">
      <input type="hidden" id="textarea_submit" name="textarea" value="">
      <input type="hidden" id="video_id" name="video_id" value="{{ video.video_id }}">
   </form>
   <script>
       var label_counter = "{{ video.label_id }}";
       var group_id = "{{ testid }}";
       var videoleft = "{{ videoleft }}";
   </script>
   <script src="{% static "js/classification.js" %}"></script>
</body>
{% endblock content %}