<!DOCTYPE html>
<head>
   {% extends "base.html" %}
   {% block content %}
   {% load static %}
   <link rel = "stylesheet" type = "text/css" href = "{% static "css/introduction.css" %}"/>
</head>
<body>
   <div class = "wrapper-notif">
      <div class = "notification">
         <p style = "color:#E8F1F2">On the next pages, you will be given some videos. Your task is to decide whether the video was
            manipulated or not.
            You may repeat the video, if you want to. <br><br>
            Additionally you need to provide the difficulty of the classification of the video e.g if you had no problems to detect that the video was manipulated select "Easy" and "manipulated".
            <br>
            The reason you classified the video as manipulated or not-manipulated can be elaborated in an optional text-box.
             <br>
             The results of the study, can be seen on this website after the 1st. February 2021.<br><br>

             Example of deepfakes:<br><br>
             <img src="https://i.ibb.co/pQKNTV2/Screenshot-1.png" alt="Screenshot-1" border="0"><img src="https://i.ibb.co/ScWK2rr/Screenshot-2.png" alt="Screenshot-2" border="0">
         </p>
      </div>
   </div>
   <div class="wrapper">
      <button onclick="location.href='../userdata/'" type="button" class="header_button">
      Next
      </button>
   </div>
</body>
{% endblock content %}