<!DOCTYPE html>
<head>
   {% extends "base.html" %}
   {% block content %}
   {% load static %}
   <link rel = "stylesheet" type = "text/css" href = "{% static "css/scores.css" %}"/>
</head>
<body>
   <div class = "wrapper-notif">
      <div class = "notification">
         <p style = "color:#E8F1F2">Thank you for your participation, the submission has been closed. </p>
         <p id="p1" style = "color:#E8F1F2">You are </p>
         <button onclick= "scrollen();" class="find_button">Find rank</button>
         <hr>
         <ol>
            {% load score_filter %}
            {% for key, values in user_scores.items %}
            {% if key == user_id %}
            <li style = "color:#b75a5a" id="you"><a>{{values.username}}: {{ values.user_score }} ({{ values.correct|percentage:25 }}%)</a></li>
            {% else %}
            <li style = "color:#E8F1F2"><a>{{values.username}}: {{ values.user_score }} ({{ values.correct|percentage:25 }}%)</a></li>
            {% endif %}
            {% endfor %}
         </ol>
      </div>
   </div>
   {% autoescape off %}
   <script>
      var dictionary = {{ user_scores }};
      var user_id = {{ user_id }};
   </script>
   <script src="{% static "js/scores.js" %}"></script>
   {% endautoescape %}
</body>
{% endblock content %}
