<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<head>
   {% load static %}
   <link rel = "stylesheet" type = "text/css" href = "{% static "css/start.css" %}"/>
</head>
<body>
   <div class = "header">
      <p style= "color:#E8F1F2"> Hi, my name is Minh, thank you for helping me out</p>
   </div>
   <div class = "notif_margin">
      <div class = "privacy_notification">
         <p style = "color:#E8F1F2"> In the further course, this website will collect data from you. This
            data cannot be traced back to you. This means that you are completely anonymous. However by clicking on the "Start"
            button, you agree, that I'm allowed to collect this data and evaluate them for my university project.<br>
             This website was only tested on the Chrome Browser, if you have any issues, you can contact me on:
             [minh.truong@smail.inf.h-brs.de].
         </p>
      </div>
   </div>
   <div class="wrapper">
      <button onclick="location.href='./notification/'" type="button" class="header_button">
      Start
      </button>
   </div>
</body>
{% endblock content %}