video {
	max-width: 720px;
	max-height: 480px;
}

video::-webkit-media-controls {
	display: none !important;
}

button {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 3px;
	border-radius: 5px 5px;
	background-color: rgba(220, 160, 140, 0);
	border: 2px solid #E8F1F2;
	color: #E8F1F2;
	box-shadow: inset 0 0 0 0 #13293D;
	transition: ease-out 0.5s;
	font-size: max(20px, 1.3vw);
	outline: 0;
}

.button_wrapper {
	padding-top: min(10px, 5%);
	padding-bottom: min(10px, 5%);
	text-align: center;
}

button:hover {
	background: #13293D;
	cursor: pointer;
	color: #E8F1F2;
}

.submit_button:hover {
	background: #45b563;
	color: #E8F1F2
}

textarea:focus {
	background: white;
	color: black;
}

select {
	-moz-padding-start: calc(10px - 3px);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 3px;
	border-radius: 5px 5px;
	background-color: rgba(220, 160, 140, 0);
	border: 2px solid #E8F1F2;
	color: #E8F1F2;
	box-shadow: inset 0 0 0 0 #13293D;
	transition: ease-out 0.5s;
	font-size: max(20px, 1.3vw);
	outline: 0;
	text-align-last: center;
	display: inline-block;
}

select:hover {
	background: #13293D;
	cursor: pointer;
	color: #E8F1F2;
}

select:focus {
	background: #13293D;
	cursor: pointer;
}

.select_wrapper {
	text-align: center;
	padding-top: min(50px, 5%);
}

.choose_form {
	text-align: center;
	padding-top: min(30px, 5%);
}

.difficulty_form {
	text-align: center;
	padding-top: 1vh;
}

.submit_wrapper {
	margin-top: 3vh;
	text-align: center;
}

textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
	background-color: rgba(220, 160, 140, 0);
	border: 1px solid #E8F1F2;
	color: white;
}

.container {
	margin-left: 30%;
	margin-right: 30%;
}

body,
html {
	height: 100%;
	text-align: center;
}

font {
	color: white;
	font-size: 2.0vw;
	font-family: 'Source Sans Pro', sans-serif;
}

.points_correct {
	color: white;
	font-size: 2.0vw;
	font-family: 'Source Sans Pro', sans-serif;
}

.feedback_background_correct {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #57d950;
	display: flex;
	justify-content: center;
	align-items: center;
}

.points_wrong {
	color: white;
	font-size: 2.0vw;
	font-family: 'Source Sans Pro', sans-serif;
}

.feedback_background_wrong {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #853030;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper-loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #13293D;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	border: 4px solid #Fff;
	top: 50%;
	animation: loader 2s infinite ease;
}

.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #fff;
	animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(180deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loader-inner {
	0% {
		height: 0%;
	}
	25% {
		height: 0%;
	}
	50% {
		height: 100%;
	}
	75% {
		height: 100%;
	}
	100% {
		height: 0%;
	}
}

.progress_container {
	width: 100%;
	height: 30px;
	background-color: rgb(19, 41, 61, 0.2);
	margin-top: 10vh;
}

.progress_bar {
	height: 100%;
	background: #13293D;
}

.display {
	position: relative;
	top: 12.9vh;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: white;
}