# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\H-BRS\Vorlesungen, Skripts, Notizen, Übungen\Visual Computing\Project Deepfake\Website\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
